{% extends "base.html "%}
{% block title %}Edit{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Edit Pokemon</title>
</head>
<body>
    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="col col-lg-4">
                <h1>Wild Pokemon:</h1>
            </div>
            <div class="row">
                <form action="/update/{{wildmon.id}}/wildmon" method="POST">
                    <input name="id" type="hidden" value="{{wildmon.id}}">
                    <section>
                    <h2>Mon:</h2>
                        <input type="text" name="wildMon" id="name" value="{{wildmon.wildMon}}">
                        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                            {% if messages %}                            <!-- check if there are any messages -->
                                {% for message in messages %}            <!-- loop through the messages -->
                                    <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <h2>Where/How:</h2>
                        <input type="text" name="location" id="name" value="{{wildmon.location}}">
                        <button type="submit" class="btn btn-outline-primary">Update</button>
                    </section>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}