{% extends "base.html "%}
{% block title %}Edit{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Edit Games</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div class="container text-center">
    <div class="row justify-content-md-center">
        <div class="col col-lg-4">
            <h1>Pokemon {{game.game}}</h1>
        </div>
        <div class="row">
            <form action="/update/{{game.id}}/game" method="POST">
                <input name="id" type="hidden" value="{{game.id}}">
                <section>
                    <h2>Update Title:</h2> 
                        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                            {% if messages %}                            <!-- check if there are any messages -->
                                {% for message in messages %}            <!-- loop through the messages -->
                                    <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <input type="text" name="game" id="name" value="{{game.game}}">
                        <button type="submit" class="btn btn-outline-primary">Update</button>
                    </section>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}