{% extends "base.html "%}
{% block title %}Edit{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Edit Scene</title>
</head>
<body>
    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="col col-lg-4">
                <h1>Scenes:</h1>
            </div>
            <div class="row">
                <form action="/update/{{scene.id}}/scene" method="POST">
                    <input name="id" type="hidden" value="{{scene.id}}">
                    <section>
                        <h2>Title:</h2>
                            {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                                {% if messages %}                            <!-- check if there are any messages -->
                                    {% for message in messages %}            <!-- loop through the messages -->
                                        <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <input type="text" name="scene" id="name" value="{{scene.scene}}">
                            <button type="submit" class="btn btn-outline-primary">Update</button>
                    </section>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}