<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        body{
            margin-left: 200px;
            margin-right: 200px;
        }

        .everything{
            display: flex;
            align-items: center;
        }

        .container{
            width: 960px;
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
        {% if messages %}                            <!-- check if there are any messages -->
            {% for message in messages %}            <!-- loop through the messages -->
                <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="everything">
        <div class="container">
            <form action="/process" method="POST" >
                <section>
                    <h2>First Name:</h2>
                    <input type="text" name="first_name" id="fname">
                </section>
                <section>
                    <h2>Last Name:</h2>
                    <input type="text" name="last_name" id="lname">
                </section>
                <section>
                    <h2>Email:</h2>
                    <input type="text" name="email" id="email">
                </section>
                <section>
                    <h2>Password:</h2>
                    <input type="password" name="password" id="pword">
                </section>
                <section>
                    <h2>Confirm Password:</h2>
                    <input type="password" name="confirm_password" id="cpword">
                </section>
                <section>
                    <button>Submit</button>
                </section>
            </form>
            <form action="/login" method="post">
                <section>
                    <h2>Login:</h2>
                    <input type="text" name="email" id="email">
                </section>
                <section>
                    <h2>Password:</h2>
                    <input type="password" name="password" id="pword">
                </section>
                <button>Login</button>
            </form>
        </div>
    </div>
</body>
</html>